<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolfix - Home</title>

    <!--CDN BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--CDN VUEJS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <!--CDN AXIOS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="root">
        <header>
            <div class="header d-flex justify-content-between align-items-center">
                <div class="header-left">
                    <h1>Boolfix</h1>
                </div>
                <div class="header-right">
                    <input type="text" class="form-control search-film" placeholder="Ricerca il film"
                        v-model="searchMovieInput" v-on:keyup.enter="searchMovie">
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div v-for="genre in moviesgenre" :class="searchForm ? 'd-none' :  'd-block'">
                    <h2>{{genre.genrename}}</h2>
                    <div class="film-container-genre">
                        <div v-for="movie in genre.movies" class="film-item col-2">
                            <img :src="baseURL+movie.poster_path">
                            <div class="film-item-cover">
                                <h2>{{movie.title}}</h2>
                                <h6>{{movie.original_title}}</h6>
                                <p>Language: {{movie.original_language}}</p>
                                <p>Vote: {{movie.vote_average}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div :class="searchForm ? 'd-block' :  'd-none'">
                    <h4>Ricerca di: {{searchMovieInput}}</h4>
                    <div class="film-container">
                        <div v-for="movie in movies" class="film-item col-3">
                            <img :src="baseURL+movie.poster_path">
                            <div class="film-item-cover">
                                <h2>{{movie.title}}</h2>
                                <h6>{{movie.original_title}}</h6>
                                <p>Language: {{movie.original_language}}</p>
                                <p>Vote: {{movie.vote_average}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="js/main.js"></script>
</body>

</html>